---
// src/components/Card.astro
const { 
  title,
  icon,
  href = "#",
  target = "_self",
  rel = ""
} = Astro.props;
---

<a
  href={href}
  target={target}
  rel={rel}
  class="group px-4 py-2 rounded-xl border-4 border-gray-200 bg-white hover:shadow-lg hover:border-accent transition-all duration-300 hover:scale-105 dark:bg-gray-800 dark:border-gray-700 dark:hover:border-cyan-500"
>
  <div class="mb-2 flex items-center gap-6">
    <div class="w-12 h-12 rounded-lg bg-cyan-100 dark:bg-cyan-900/30 flex items-center justify-center text-cyan-600 dark:text-cyan-500">
      <slot name="icon">{icon}</slot>
    </div>
     <h3 class="text-2xl font-bold text-foreground dark:text-white  group-hover:text-accent transition-colors">
    {title}
  </h3>
  </div>
 
  <p class="text-foreground/70 dark:text-gray-300 leading-relaxed">
    <slot />
  </p>
</a>